<% if @idea.present? %>
<%= link_to 'Whats new', random_path, class: 'btn btn-primary btn-block' %>

<div class="card">
    <div class="card-block">
        <p class="card-text"><font size ="5"><%= @idea.description %> </font></p>
         </div>
        <h3 class="card-header primary-color white-text"><%= @idea.author %></h3>
        <div class="btn-group" role="group">
        <%= link_to 'Delete', idea_path(@idea), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "REALLY???"}  %>
        <%= link_to 'Revise', edit_idea_path(@idea), class: 'btn btn-sm btn-success'%>
        </div>
    </div>
    
    <h4>wanna add some? Add one <%= link_to 'here', root_path %></h4>
    <% end %>