 
 <%= simple_form_for Idea.new do |f| %>
     <%= f.input :description %>
     <%= f.input :author %>
     <%= f.submit 'Submit' %>
 <% end %>
 
 <h1>Reveal!!! Whats on your MIND???</h1>
 <img alt="Brand" src="REVELER.png"/>
 
 <!--Panel-->
 <% @ideas.each do |idea| %>
<div class="card">
    <h3 class="card-header primary-color white-text"><%= idea.author %></h3>
      <div class="card-block">
        <p class="card-text"><font size ="5"><%= idea.description %> </font></p>
        <a class="btn btn-primary">Go somewhere</a>
    </div>
</div>
<% end %>
<!--/.Panel-->



