 <div class="col-xs-12 col-md-6 col-md-offset-3">
 <%= simple_form_for Idea.new do |f| %>
     <%= f.input :description %>
     <%= f.input :author %>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
 <% end %>
 
 <h1>Reveal!!! Whats on your MIND???</h1>
 <br>
 <br>
 
 
 <!--Panel-->
 <% @ideas.each do |idea| %>
<div class="card">
    <div class="card-block">
        <p class="card-text"><font size ="5"><%= idea.description %> </font></p>
         </div>
        <h3 class="card-header primary-color white-text"><%= idea.author %></h3>
    <a class="btn btn-primary">Go somewhere</a>
</div>
<br>
<br>
<br>
<% end %>
<!--/.Panel-->

</div>

