<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Reveal!!! Whats on your MIND???
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for Idea.new do |f| %>
             <%= f.input :description %>
             <%= f.input :author %>
             
           </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>


 <div class="col-xs-12 col-md-6 col-md-offset-3">

 

 <br>
 <br>
 
 
 <!--Panel-->
 <% @ideas.each do |idea| %>
<div class="card">
    <div class="card-block">
        <p class="card-text"><font size ="5"><%= idea.description %> </font></p>
         </div>
        <h3 class="card-header primary-color white-text"><%= idea.author %></h3>
        <div class="btn-group" role="group">
        <%= link_to 'Delete', idea_path(idea), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "REALLY???"}  %>
        <%= link_to 'Revise', edit_idea_path(idea), class: 'btn btn-sm btn-success'%>
        </div>
    </div>
<br>
<br>
<br>
<% end %>
<!--/.Panel-->

</div>

